
body{
    
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: blueviolet;
}

h1{
    font-size: 50px;
    font-family: sans-serif;
    letter-spacing: 4px;
    color:white;
    text-shadow: 2px 2px 4px rgba(14, 31, 23, 0.3);
    white-space: nowrap;
}
.container{
    text-align: center;
}
.btn{
    padding:30px 50px;
    background-color: white;
    border:none;
    margin:10px;
    font-size:30px;
    border-radius: 10px;
    box-shadow:0px 4px 8px rgba(14, 31, 23, 0.3);
    background-image: url(images/crash.png);
    background-size: cover;
    color:red;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px rgba(14, 31, 23, 0.3);
    cursor:pointer;
    
}
.btn:hover{
    color:pink;
}
.btn:active{
    background-size: 105%;
}